@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <!--  <h2 id="title">@ViewBag.Title.</h2>-->
    <h3>@ViewBag.Message</h3>

    <address>
        El Maxi Software<br />
        Merlo, San Luis, Argentina<br />
        <abbr title="Telefono">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:maximiliano_balestrieri@hotmail.com">maximiliano_balestrieri@hotmail.com</a><br />

    </address>
</main>